.iconli {
    list-style-image: url("../../../resources/Images/v2.svg");
    text-align: center;
}

/* .items div {
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.dicon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconliright{
    list-style-image: url("../../../resources/Images/v5.svg");
    text-align: center;
}

.iconliright2{
    margin-left: 5px;
    list-style-image: url("../../../resources/Images/v4.svg");
    text-align: center;
}

.btn{ 
    padding: 0;
    border: none;
    background-color: #00000000;
}