.post{
    background-color: #F8F8F8;
    padding: 10px;
    margin-top: 10px;
    height: max-content;
    min-height: max-content;
}

h3{
    margin: 0;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;
}

.corpo{
    text-align: left;
}