.line{
    background-color: #F8F8F8;
    border-radius: 2%;
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 5px;
    box-shadow: 0.1em 0.1em 0.2em #acacac;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
/* 
.items li {
    list-style-image: url("../../../resources/Images/v2.svg");
    text-align: center;
}

.items div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link{
    text-decoration: none;
} */